
name: Weather Alert Cron

on:
  schedule:
    - cron: '*/2 * * * *' # every 30 minutes
  workflow_dispatch: # allows manual trigger

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          pip install requests
          pip install -r requirements.txt
      - name: Run weather alert
        run: |
          python generate_forecast.py
